// mixins
$primary: #dc3545;
$secondary: #eed9dd;

@mixin ease3s() {
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
}

// Reset
ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

.btn-primary {
  background: rgba($primary, .8);
  border-color: rgba($primary, .8);

  &:hover {
    background: $primary;
    border-color: $primary;
  }
}

.btn-outlined-primary {
  border-color: $primary;

  &:hover {
    color: white;
    background: $primary;
    border-color: $primary;
  }
}

.nobg {
  border: none;
  background: none;
}

.error {
  outline: none;
  border-color: red;

  &:focus {
    outline: none;
    border-color: red;
  }
}

.App {
  background: white;
  min-height: 100vh;

  .login-wrapper {
    height: 100vh;

    .card {
      width: 400px;
      border-radius: 10px;
      border: 2px solid #FFF;
      border-bottom: 5px solid #960661;
      box-shadow: 0 0 50px rgba(black, .1);

      .btn {
        width: 200px;
      }
    }
  }

  .container {
    @media screen and (min-width:992px) and (max-width:1600px) {
      width: 85%;
    }
  }

  header {
    padding: 0 10px;
    height: 54px;
    color: white;
    background-color: $secondary;

    .logo {
      font-size: 20px;
      font-weight: bold;
      color: rgba(black, .8);

      &:hover {
        color: $primary
      }
    }

    ul li a.nav-link {
      display: block;
      padding: 0;
      color: white;
      margin-right: 20px;

      i {
        font-size: 30px;
      }
    }
  }

  .left-sidebar {
    padding: 20px 0;
    min-height: calc(100vh - 50px);
    color: white;
    background-color: rgba(black, .8);

    h4 {
      font-size: 18px;
      padding: 0 20px;
    }

    ul {
      margin-bottom: 20px;

      li a {
        color: white;
        padding: 0 20px;

        &:hover,
        &:focus,
        &:active,
        &.active {
          color: $primary;
        }
      }
    }
  }

  .main-content {
    padding: 20px 30px;
    min-height: calc(100vh - 50px);
    background-color: rgba(black, .2);

    .customers {
      img {
        width: 50px;
        border-radius: 50%;
      }
    }

  }

  .products-list {
    position: relative;

    &>a {
      cursor: pointer;
      z-index: 1;
      color: rgba(black, .8);
      @include ease3s();

      &:hover {
        z-index: 9;

        &>section {
          color: white;
          background: $primary;
          transform: scale(1.05, 1.05);
          box-shadow: 0 10px 30px rgba(black, .5);
        }
      }

      &>section {
        border-radius: 6px;
        margin-bottom: 20px;
        border: 1px solid rgba(black, .2);
        @include ease3s();

        img {

          border-radius: 6px 6px 0 0;
        }

        footer {
          text-align: center;
          padding: 10px 15px;

          h4 {
            font-size: 20px;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .product {
    .thumbnails {
      max-width: 100px;
      min-width: 100px;
      width: 100px;
      display: flex;
      flex-flow: column;

      >img {
        cursor: pointer;
        margin: 0 5px 5px 0;
      }
    }

    select {
      width: 200px;
    }
  }
}