// mixins
$primary: #960661;
$secondary: #eed9dd;

// Reset
ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

.nobg {
  border: none;
  background: none;
}

.error {
  outline: none;
  border-color: red;

  &:focus {
    outline: none;
    border-color: red;
  }
}

.App {
  background: white;
  min-height: 100vh;

  .container {
    @media screen and (min-width:992px) and (max-width:1600px) {
      width: 85%;
    }
  }

  header {
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
    color: white;
    background-color: $secondary;

    .logo {
      font-size: 20px;
      font-weight: bold;
      color: rgba(black, .8);

      &:hover {
        color: $primary
      }
    }

    ul li a {
      display: block;

      i {
        font-size: 30px;
      }
    }
  }

  .left-sidebar {
    padding: 20px 0;
    min-height: calc(100vh - 50px);
    color: white;
    background-color: rgba(black, .8);

    h4 {
      font-size: 18px;
      padding: 0 20px;
    }

    ul {
      margin-bottom: 20px;

      li a {
        color: white;
        padding: 0 20px;

        &:hover,
        &:focus,
        &:active,
        &.active {
          color: $primary;
        }
      }
    }
  }

  .main-content {
    padding: 20px 30px;
    min-height: calc(100vh - 50px);
    background-color: rgba(black, .2);

    .customers {
      img {
        width: 50px;
        border-radius: 50%;
      }
    }

  }

  .product {
    border: 1px solid rgba(black, .2);

    margin-bottom: 20px;

    footer {
      text-align: center;
      padding: 10px 15px;

      h4 {
        font-size: 20px;
        margin-bottom: 0;
      }
    }
  }
}